$color: #5d6d77;
$buttonBackground: #e7ebec;
$buttonActiveBackground: #6495ed;
$buttonColor: #000;
$buttonActiveColor: #fff;
$buttonHeight: 40px;
$borderColor: #ced6dc;
$previewPadding: 50px;
$previewPaddingMin: 10px;
