.controls {
  $color: #5d6d77;
  $buttonBackground: #e7ebec;
  $buttonActiveBackground: #6495ed;
  $buttonColor: #000;
  $buttonActiveColor: #fff;
  $buttonHeight: 40px;
  $borderColor: #e8e8e8;

  width: 100%;
  height: 100%;
  box-shadow: 10px 0 10px #737d8a;

  &__main,
  &__more {
    display: flex;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  &__main {
    height: 50px;
    position: relative;
    background: #2b3748;
    justify-content: center;
  }

  &__more {
    display: none;
    height: 75px;
    background: $color;
    justify-content: center;
    align-items: center;

    &_active {
      display: flex;
    }
  }

  &__main &__button {
    border: none;
    padding: 0 10px;
    font-size: 14px;
    &:focus,
    &:active,
    &:hover {
      border: none;
    }
  }

  &__more &__button {
    margin: 0 5px;
    height: $buttonHeight;
    background: $buttonBackground;
    color: $buttonColor;
  }

  &__detail {
    display: none;
    align-items: center;

    &_type_active {
      display: flex;
    }
  }

  &__note {
    top: 0;
    color: #f0ffff;
  }

  &__error {
    display: none;
    bottom: 0;
    color: red;
  }

  &__gradient {
    display: flex;
    flex-direction: column;
  }

  &__gradient &__label {
    padding: 0 10px;
    display: inline-block;
    cursor: pointer;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    background: $buttonBackground;

    &_active {
      background: $buttonActiveBackground;
      color: $buttonActiveColor;
      cursor: default;
    }
  }

  &__radiogroup {
    margin: 2px 5px;
  }

  &__radiogroup_type_disable &__label {
    background: transparent;
    cursor: default;
    color: #8c969a;
  }

  &__gradient &__radio {
    display: none;
  }

  &__label {
    position: relative;
    padding: 10px 0;

    &_type_error .controls__error {
      display: block;
    }

    &_type_error .controls__input {
      border-color: red;
    }
  }

  &__input {
    width: 300px;
  }

  &__input,
  &__select {
    margin: 5px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    color: #000;
    height: $buttonHeight;
    border: 2px solid $borderColor;
    background: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;

    &:focus {
      border-color: #6495ed;
      outline: none;
    }
  }

  &__note,
  &__error {
    position: absolute;
    left: 5px;
    font-size: 12px;
  }

  &__button {
    cursor: pointer;
    height: 50px;
    outline: none;
    border-color: transparent;
    background: $buttonBackground;

    &_type_add {
      font-size: 26px;
      line-height: 26px;
    }

    &_type_active {
      background: $color;
      color: $buttonActiveColor;
      border-color: transparent;
      outline: none;
      &:focus,
      &:active {
        background: $color;
        border-color: transparent;
        outline: none;
      }
    }
  }

  &__color {
    margin: 0 5px;
    padding: 0;
    height: $buttonHeight;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    border-color: $borderColor;
    border-width: 2px;

    &:focus,
    &:active {
      outline: none;
      border-color: $buttonActiveBackground;
    }
  }
}
