@import "../../constants.scss";

.export {
  $buttonHeight: 55px;

  position: absolute;
  top: 110px;
  right: $previewPadding;
  display: flex;
  flex-direction: column;

  &__button {
    width: 100px;
    margin: 0 0 10px 0;
    padding: 10px 10px 10px 40px;
    height: $buttonHeight;
    border: 2px solid $borderColor;
    display: block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    color: $buttonColor;
    box-sizing: border-box;

    @media only screen and (max-width: 610px) {
      margin: 0 10px 0 0;
      width: 80px;
      top: auto;
      right: 0;
      height: 50px;
      font-size: 14px;
    }

    @media only screen and (max-width: 370px) {
      margin: 0;
    }

    &_type_copy {
      background: $buttonBackground url("../../docs/image/copy_icon.png") 5px
        8px no-repeat;
    }

    &_type_download {
      background: $buttonBackground url("../../docs/image/download_icon.png")
        5px 8px no-repeat;
    }

    &:focus,
    &:active {
      border-color: $buttonActiveBackground;
      outline: none;
    }
  }

  @media only screen and (max-width: 900px) {
    right: 0;
  }

  @media only screen and (max-width: 610px) {
    top: auto;
    flex-direction: row;
    bottom: $previewPaddingMin;
  }

  @media only screen and (max-width: 370px) {
    right: $previewPaddingMin;
  }
}
